.Start{
    background-color: lightseagreen;
    color: white;
    text-align: center;
    padding: 8px  5px;
    margin: 15px;
    border-radius: 7px;
    box-shadow: 15px 15px 25px black;
}
.inputbox{
    background-color:#DCDCDC ;
    border: 0;
    outline: 0;
}
.mybtn{
    background-color: rgb(53, 150, 189);
    color: white;
    font-weight: 700;
}


.ALL_Item{
    width: 80%;
    /* background-color: yellow; */
    margin: 20px auto;
}
.leftside{
    /* background-color: green; */
}
.image_{
    width: 100%;
    height: 620px;
}
.rightside{
    background: #F8F8F8;
}

.Item{
    text-align: center;
}

.lbl{
    display: flex;
    margin: 10px 5px;
    gap: 20px;
}
.site1{
    /* background-color: red; */
    width: 40%;
    display: flex;
    justify-content: end;
}
.site2{
    /* background-color: yellow; */
}
.ib{
    padding:10px;
    width: 55px;
    height: 38px;
}